*,::before,::after{
    box-sizing: border-box;
}
.form_product{
    align-items: flex-end;
    padding: 30px 10px;
    margin:20px 0;
    border-radius: 5px;
    border: 2px solid #F8F8F8;
}
.button_form{
    height: 2.4375rem;
}
.margin{
    margin:0px;
}
.strikeout {
    line-height: 1em;
    position: relative;
  }
.strikeout::after {
    border-bottom: 0.125em solid #14679E;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}